name: test environment secret

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    environment: stage
    steps:
      - name: Show message
        run: |
          echo "not setting stage secret now"
